.card-footer.pb-0
    .row
        .col-6.text-center
            label
                input(type='radio', name='pk-format', data-param='format', value='old')
                = t('generator.LV.pk.old')
        .col-6.text-center
            label
                input(type='radio', name='pk-format', data-param='format', value='new', checked)
                = t('generator.LV.pk.new')
    .row
        .col-12
            .form-group
                label= t('generator.LV.pk.birthdate')
                input.form-control(type='text', data-param='birthdate', placeholder='1969(-07(-12))', pattern='^(18|19|20|21|22)[0-9][0-9](-[0-9][0-9])?(-[0-9][0-9])?$')
