.card-footer.pb-0
    .row
        .col-6.text-center
            label
                input(type='radio', name='stnr-schema', data-param='schema', value='state')
                = t('generator.DE.stnr.schema.state')
        .col-6.text-center
            label
                input(type='radio', name='stnr-schema', data-param='schema', value='federal', checked)
                = t('generator.DE.stnr.schema.federal')
    .row
        .col-12
            .form-group
                select(data-regions, data-country='DE', data-param='state').form-control.select2
